<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karim Elgendi · Authenticate User</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://kit.fontawesome.com/1eeb4b521d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="center-form">
        <div class="card">
            <h4 class="title">Log In!</h4>

            <div th:if="${param.error}" style="font-size: 12.5px; color: white; margin-bottom: 10px;">
                Invalid username or password
            </div>

            <form th:action="@{/login}" method="post">
                <label class="field" for="loguser">
                    <i class="input-icon fas fa-at" style ="font-size: 14.5px;"></i>
                    <input autocomplete="off" id="loguser" placeholder="Username" class="input-field" name="username" type="text"/>
                </label>
                <br>
                <label class="field" for="logpass">
                    <i class="input-icon fas fa-lock" style ="font-size: 14.5px;"></i>
                    <input id="logpass" placeholder="Password" class="input-field" name="password" type="password"/>
                </label>
                <!-- CSRF token (required for POST with Spring Security on) -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn" type="submit">Login</button>
                <a class="btn-link" style ="font-size: 15px;" th:href="@{/projects}">Continue as Guest?</a>
            </form>
        </div>
    </div>
</body>
</html>